body {
  margin: 0;
  padding: 0;
}

#topbar {
  margin: 0 auto;
  height: 40px;
  width: 1000px;
}

#logo {
  margin-top: 6px;
  margin-right: 8px;
  width: 100px;
  float: left;
}

.topbar-section {
  float: left;
  border-left: 1px #CCCCCC solid;
  height: 100%;
}

#signin-image {
  width: 25px;
  margin: 12px 15px;
